# Find correlation between windspeed and PSI

In [59]:
import pandas as pd
import json
import os

current_dir = os.getcwd()
print("Current directory:", current_dir)

Current directory: /Users/tongchernhaw/Desktop/NEA Air

## Load wind speed for

In [60]:
df_windspeed_2023 = pd.read_csv("HistoricalWindSpeedacrossSingapore2023.csv")
df_windspeed_2023.head()

,date,timestamp,update_timestamp,station_id,station_name,station_device_id,location_longitude,location_latitude,reading_update_timestamp,reading_value,reading_type,reading_unit
0,2023-01-01,2023-01-01T00:00:00+08:00,2023-01-01T00:09:26+08:00,S109,Ang Mo Kio Avenue 5,S109,103.8492,1.3764,2023-01-01T00:09:26+08:00,2.8,Wind Speed AVG(S)10M M1M,knots
1,2023-01-01,2023-01-01T00:00:00+08:00,2023-01-01T00:09:26+08:00,S117,Banyan Road,S117,103.6790,1.2560,2023-01-01T00:09:26+08:00,3.5,Wind Speed AVG(S)10M M1M,knots
2,2023-01-01,2023-01-01T00:00:00+08:00,2023-01-01T00:09:26+08:00,S50,Clementi Road,S50,103.7768,1.3337,2023-01-01T00:09:26+08:00,3.2,Wind Speed AVG(S)10M M1M,knots
3,2023-01-01,2023-01-01T00:00:00+08:00,2023-01-01T00:09:26+08:00,S107,East Coast Parkway,S107,103.9625,1.3135,2023-01-01T00:09:26+08:00,6.3,Wind Speed AVG(S)10M M1M,knots
4,2023-01-01,2023-01-01T00:00:00+08:00,2023-01-01T00:09:26+08:00,S43,Kim Chuan Road,S43,103.8878,1.3399,2023-01-01T00:09:26+08:00,6.4,Wind Speed AVG(S)10M M1M,knots

## load psi for 2023

In [61]:
df_psi_2023= pd.read_csv("HistoricalPollutantStandardsIndexPSI2023.csv")

df_psi_2023.head()

,date,timestamp,update_timestamp,region,region_id,location_longitude,location_latitude,pm10_twenty_four_hourly,pm10_sub_index,pm25_twenty_four_hourly,pm25_sub_index,o3_eight_hour_max,o3_sub_index,co_eight_hour_max,co_sub_index,so2_sub_index,so2_twenty_four_hourly,no2_one_hour_max,psi_twenty_four_hourly,psi_three_hourly
0,2023-01-01,2023-01-01T00:00:00+08:00,2023-01-01T00:08:52+08:00,south,rSO,103.82,1.29587,26.0,26.0,11.0,45.0,43.0,18.0,0.42,4.0,2.0,4.0,9.0,45.0,NaN
1,2023-01-01,2023-01-01T00:00:00+08:00,2023-01-01T00:08:52+08:00,north,rNO,103.82,1.41803,28.0,28.0,7.0,31.0,63.0,27.0,0.62,6.0,1.0,2.0,24.0,31.0,NaN
2,2023-01-01,2023-01-01T00:00:00+08:00,2023-01-01T00:08:52+08:00,east,rEA,103.94,1.35735,35.0,35.0,16.0,56.0,37.0,16.0,0.27,3.0,2.0,3.0,13.0,56.0,NaN
3,2023-01-01,2023-01-01T00:00:00+08:00,2023-01-01T00:08:52+08:00,central,rCE,103.82,1.35735,17.0,17.0,11.0,45.0,59.0,25.0,0.32,3.0,3.0,4.0,10.0,45.0,NaN
4,2023-01-01,2023-01-01T00:00:00+08:00,2023-01-01T00:08:52+08:00,west,rWE,103.70,1.35735,30.0,30.0,8.0,33.0,34.0,15.0,0.28,3.0,3.0,5.0,6.0,33.0,NaN

In [62]:
df_psi_2023_central = df_psi_2023[df_psi_2023.region=="central"]
df_psi_2023_central.head()

,date,timestamp,update_timestamp,region,region_id,location_longitude,location_latitude,pm10_twenty_four_hourly,pm10_sub_index,pm25_twenty_four_hourly,pm25_sub_index,o3_eight_hour_max,o3_sub_index,co_eight_hour_max,co_sub_index,so2_sub_index,so2_twenty_four_hourly,no2_one_hour_max,psi_twenty_four_hourly,psi_three_hourly
3,2023-01-01,2023-01-01T00:00:00+08:00,2023-01-01T00:08:52+08:00,central,rCE,103.82,1.35735,17.0,17.0,11.0,45.0,59.0,25.0,0.32,3.0,3.0,4.0,10.0,45.0,NaN
9,2023-01-01,2023-01-01T01:00:00+08:00,2023-01-01T01:08:52+08:00,central,rCE,103.82,1.35735,17.0,17.0,11.0,44.0,59.0,25.0,0.32,3.0,3.0,4.0,9.0,44.0,NaN
15,2023-01-01,2023-01-01T02:00:00+08:00,2023-01-01T02:08:52+08:00,central,rCE,103.82,1.35735,17.0,17.0,10.0,43.0,59.0,25.0,0.32,3.0,3.0,4.0,7.0,43.0,NaN
21,2023-01-01,2023-01-01T03:00:00+08:00,2023-01-01T03:08:52+08:00,central,rCE,103.82,1.35735,17.0,17.0,10.0,43.0,59.0,25.0,0.32,3.0,3.0,4.0,9.0,43.0,NaN
27,2023-01-01,2023-01-01T04:00:00+08:00,2023-01-01T04:08:52+08:00,central,rCE,103.82,1.35735,18.0,18.0,11.0,45.0,57.0,24.0,0.32,3.0,3.0,4.0,20.0,45.0,NaN

## Get reading from central Singapore for PSI Ang Mo Kio

In [63]:
windspeed_amk= df_windspeed_2023[df_windspeed_2023.station_name=="Ang Mo Kio Avenue 5"]
windspeed_amk.head()

,date,timestamp,update_timestamp,station_id,station_name,station_device_id,location_longitude,location_latitude,reading_update_timestamp,reading_value,reading_type,reading_unit
0,2023-01-01,2023-01-01T00:00:00+08:00,2023-01-01T00:09:26+08:00,S109,Ang Mo Kio Avenue 5,S109,103.8492,1.3764,2023-01-01T00:09:26+08:00,2.8,Wind Speed AVG(S)10M M1M,knots
17,2023-01-01,2023-01-01T00:01:00+08:00,2023-01-01T00:09:26+08:00,S109,Ang Mo Kio Avenue 5,S109,103.8492,1.3764,2023-01-01T00:09:26+08:00,2.8,Wind Speed AVG(S)10M M1M,knots
34,2023-01-01,2023-01-01T00:02:00+08:00,2023-01-01T00:09:26+08:00,S109,Ang Mo Kio Avenue 5,S109,103.8492,1.3764,2023-01-01T00:09:26+08:00,2.7,Wind Speed AVG(S)10M M1M,knots
50,2023-01-01,2023-01-01T00:03:00+08:00,2023-01-01T00:09:26+08:00,S109,Ang Mo Kio Avenue 5,S109,103.8492,1.3764,2023-01-01T00:09:26+08:00,2.7,Wind Speed AVG(S)10M M1M,knots
67,2023-01-01,2023-01-01T00:04:00+08:00,2023-01-01T00:09:26+08:00,S109,Ang Mo Kio Avenue 5,S109,103.8492,1.3764,2023-01-01T00:09:26+08:00,2.7,Wind Speed AVG(S)10M M1M,knots

In [64]:
windspeed_amk = windspeed_amk[['date', 'timestamp', 'reading_value']]
windspeed_amk.head()

          date                  timestamp  reading_value
0   2023-01-01  2023-01-01T00:00:00+08:00            2.8
17  2023-01-01  2023-01-01T00:01:00+08:00            2.8
34  2023-01-01  2023-01-01T00:02:00+08:00            2.7
50  2023-01-01  2023-01-01T00:03:00+08:00            2.7
67  2023-01-01  2023-01-01T00:04:00+08:00            2.7

In [65]:
# Merge on 'timestamp' column, which is present in both dataframes
merged_df = pd.merge(df_psi_2023_central, windspeed_amk, on='timestamp', how='inner', suffixes=('_psi', '_wind'))
merged_df.head()

,date_psi,timestamp,update_timestamp,region,region_id,location_longitude,location_latitude,pm10_twenty_four_hourly,pm10_sub_index,pm25_twenty_four_hourly,...,o3_sub_index,co_eight_hour_max,co_sub_index,so2_sub_index,so2_twenty_four_hourly,no2_one_hour_max,psi_twenty_four_hourly,psi_three_hourly,date_wind,reading_value
0,2023-01-01,2023-01-01T00:00:00+08:00,2023-01-01T00:08:52+08:00,central,rCE,103.82,1.35735,17.0,17.0,11.0,...,25.0,0.32,3.0,3.0,4.0,10.0,45.0,NaN,2023-01-01,2.8
1,2023-01-01,2023-01-01T01:00:00+08:00,2023-01-01T01:08:52+08:00,central,rCE,103.82,1.35735,17.0,17.0,11.0,...,25.0,0.32,3.0,3.0,4.0,9.0,44.0,NaN,2023-01-01,4.3
2,2023-01-01,2023-01-01T02:00:00+08:00,2023-01-01T02:08:52+08:00,central,rCE,103.82,1.35735,17.0,17.0,10.0,...,25.0,0.32,3.0,3.0,4.0,7.0,43.0,NaN,2023-01-01,1.8
3,2023-01-01,2023-01-01T03:00:00+08:00,2023-01-01T03:08:52+08:00,central,rCE,103.82,1.35735,17.0,17.0,10.0,...,25.0,0.32,3.0,3.0,4.0,9.0,43.0,NaN,2023-01-01,2.8
4,2023-01-01,2023-01-01T04:00:00+08:00,2023-01-01T04:08:52+08:00,central,rCE,103.82,1.35735,18.0,18.0,11.0,...,24.0,0.32,3.0,3.0,4.0,20.0,45.0,NaN,2023-01-01,2.4

In [66]:
merged_df = merged_df.drop(columns=[
    'update_timestamp', 'region', 'region_id', 'location_longitude', 'location_latitude', 'date_wind'
])
merged_df.head()

,date_psi,timestamp,pm10_twenty_four_hourly,pm10_sub_index,pm25_twenty_four_hourly,pm25_sub_index,o3_eight_hour_max,o3_sub_index,co_eight_hour_max,co_sub_index,so2_sub_index,so2_twenty_four_hourly,no2_one_hour_max,psi_twenty_four_hourly,psi_three_hourly,reading_value
0,2023-01-01,2023-01-01T00:00:00+08:00,17.0,17.0,11.0,45.0,59.0,25.0,0.32,3.0,3.0,4.0,10.0,45.0,NaN,2.8
1,2023-01-01,2023-01-01T01:00:00+08:00,17.0,17.0,11.0,44.0,59.0,25.0,0.32,3.0,3.0,4.0,9.0,44.0,NaN,4.3
2,2023-01-01,2023-01-01T02:00:00+08:00,17.0,17.0,10.0,43.0,59.0,25.0,0.32,3.0,3.0,4.0,7.0,43.0,NaN,1.8
3,2023-01-01,2023-01-01T03:00:00+08:00,17.0,17.0,10.0,43.0,59.0,25.0,0.32,3.0,3.0,4.0,9.0,43.0,NaN,2.8
4,2023-01-01,2023-01-01T04:00:00+08:00,18.0,18.0,11.0,45.0,57.0,24.0,0.32,3.0,3.0,4.0,20.0,45.0,NaN,2.4

## Find correlationship between wind speed and pollutant

In [78]:
correlation = merged_df[['so2_sub_index', 'reading_value']].corr(method='pearson')
print(correlation)

               so2_sub_index  reading_value
so2_sub_index       1.000000       0.023037
reading_value       0.023037       1.000000

In [79]:
correlation = merged_df[['pm10_sub_index', 'reading_value']].corr(method='pearson')
print(correlation)

                pm10_sub_index  reading_value
pm10_sub_index        1.000000       0.002278
reading_value         0.002278       1.000000

In [80]:
correlation = merged_df[['o3_sub_index', 'reading_value']].corr(method='pearson')
print(correlation)

               o3_sub_index  reading_value
o3_sub_index       1.000000       0.332202
reading_value      0.332202       1.000000

In [81]:
correlation = merged_df[['pm25_sub_index', 'reading_value']].corr(method='pearson')
print(correlation)

                pm25_sub_index  reading_value
pm25_sub_index        1.000000      -0.031878
reading_value        -0.031878       1.000000

### Appear to have correlation between wind speed and pollutant